* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* --Main-- */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --Game Area--*/
.gamearea {
    display: grid;
    grid-template-columns: repeat(1, 1f);
    grid-template-rows: repeat(3, 1f);
    margin-top: 30px;
    background-color:#efefef;
    height: 500px;
    width: 750px;
    border-radius: 14px;
    box-shadow: 0px 0px 7px -2px black;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: white;
    height: 100px;
    width: 750px;
    border-radius: 14px 14px 0px 0px;
}

.choose-marker > button {
    margin: 20px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 7px;
    background-color: #1992d4;
    color: white;
}

.choose-marker > button:hover {
    box-shadow: 0px 0px 7px -2px black;
    background-color: #1780b8;
}

.choose-marker > button:active {
    transform: translateY(3px);
}

.gameboard {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.restart {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}